* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Shila; }

body {
  background-color: #171717; }

@font-face {
  font-family: Shila;
  src: url(../fonts/SegoeUI.eot);
  src: url(../fonts/SegoeUI.ttf);
  src: url(../fonts/SegoeUI.woff);
  src: url(../fonts/SegoeUI.woff2); }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper-button-next > i.arrow-icon {
  font-size: 35px;
  color: grey; }

.swiper-button-next::after {
  display: none; }

.swiper-button-prev > i.arrow-icon {
  font-size: 35px;
  color: grey; }

.swiper-button-prev::after {
  display: none; }

main.wrapper {
  width: 100%; }

figure.figure > img {
  filter: invert(100%) sepia(0%) saturate(7466%) hue-rotate(116deg) brightness(105%) contrast(94%); }

.carousel-control-prev-icon:after {
  content: ""; }

.carousel-control-next-icon:after {
  content: ""; }

/*div.me{
  height: 500px;
}*/
div.box {
  height: 600px; }

div.box1 {
  height: 630px; }

p,
a {
  text-align: justify; }

a.linkSmaller {
  font-size: 14px;
  color: white;
  text-decoration: none; }
  a.linkSmaller:hover {
    text-decoration: underline; }

a.boxShadow {
  color: white;
  font-size: 14px;
  text-decoration: none; }
  a.boxShadow:hover {
    text-decoration: underline; }

a.force {
  font-size: 14px; }
  a.force:hover {
    text-decoration: underline; }

div.computers {
  width: 1100px;
  position: absolute;
  left: 40px;
  top: 60px;
  display: none; }

div.computersBusiness {
  width: 1100px;
  position: absolute;
  left: 40px;
  top: 60px;
  display: none; }

a.drop {
  text-decoration: none;
  color: white;
  margin: 20px;
  display: block;
  font-size: 14px; }
  a.drop:hover {
    text-decoration: underline; }

ul.bigger {
  width: 250px; }

div.allMicro {
  width: 1100px;
  position: absolute;
  top: 60px;
  right: 50px;
  display: none; }

a.link {
  text-decoration: none;
  color: white;
  font-size: 14px; }
  a.link:hover {
    text-decoration: underline; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px; }

div.expert {
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 99; }

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 99; }

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #171717; }

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 1opx;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 150px; }

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none; }

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #0D6EFD;
  color: white;
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8; }

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red; }

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1; }
