*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Shila;
}
body{
   background-color: #171717;
}
@font-face {
    font-family: Shila;
    src: url(../fonts/SegoeUI.eot);
    src: url(../fonts/SegoeUI.ttf);
    src: url(../fonts/SegoeUI.woff);
    src: url(../fonts/SegoeUI.woff2);
 
}